<%= turbo_frame_tag dom_id(task, :edit) do %>

  <li class="task" data-controller="task" data-action="dblclick->task#edit">
    <h3>
      <%= check_box_tag "ids[]", task.id, false, class: 'checkbox', data: { 'action-bar-target': 'checkbox', action: 'action-bar#check' } %>
      <span><%= task.title %></span>
      
      <a class="hidden pl-2 text-blue-500 underline" href="<%= edit_task_path(task) %>" data-task-target="editLink">edit</a>
      
      <div class="flex-grow"></div>
      
      <div class="w-13">
        <span class="text-sm rounded px-1 py <%= estimate.colors.join(" ") %>"><%= estimate.formatted %></span>
      </div>
    </h3>
    <p><%= task.description %></p>
  </li>

<% end %>